.container-fluid#footer
  .row#footer-lead
    .col-md-6.text-center
      h3 Have a case for us?
    .col-md-6.text-center
      button#footer-cta.btn.btn-outline-secondary Contact Us
  .row#footer-base
    .col-md-4.col-sm-12.text-md-right.text-sm-center
      .footer-section
        h3.h3-inverse Office
        p.p-inverse 1000 Main St
        p.p-inverse Kansas City, MO 66445
        p.p-inverse Phone: (816) 555-5555
        p.p-inverse Fax: (816) 555-5522
    .col-md-4.text-center.hidden-sm-down
      .footer-section
        img.img-fluid(src="img/logo.png")
    .col-md-4.col-sm-12.text-md-left.text-sm-center
      .footer-section#quick-links
        h3.h3-inverse Quick Links
        ul
          li 
            a(href="#") Home
          li 
            a(href="#") About
          li 
            a(href="#") Services
          li 
            a(href="#") Team
          li 
            a(href="#") Blog
          li 
            a(href="#") Contact
