//- #header-top.container-fluid
//-   .row
//-     .col-md-6
//-       h4.text-right Legal counsel with integrity, timeliness, and grace
//-     .col-md-2.text-right
//-       i.icon-facebook
//-       i.icon-twitter
//-       i.icon-linkedin
//-     .col-md-2
//-       button#heading-cta.btn.btn-primary Request a consultation
      // TODO: Link to contact form
//- .container-fluid
#header-middle.container-fluid
  .row
    .col-md-4.text-center
      img#logo.img-fluid(src="img/logo.png")
    .col-md-4.text-center
      .header-contact-info
        p Phone: (+1) 800-555-5555
        p 1000 Main St, Kansas City 66445
    .col-md-4.text-center
      .header-social
        i.fa.fa-facebook-square(aria-hidden="true")
        i.fa.fa-twitter-square(aria-hidden="true")
        i.fa.fa-google-plus-square(aria-hidden="true")
        i.fa.fa-tumblr-square(aria-hidden="true")
//- .container-fluid
nav.navbar.navbar-toggleable-md.navbar-inverse
  button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarToggler', aria-controls='navbarToggler', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarToggler.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item.active
        a.nav-link(href='#')
          | Home 
          span.sr-only (current)
        div.nav-item-back.animated.slideInUp
      li.nav-item
        a.nav-link(href='#') About Us
      li.nav-item
        a.nav-link(href='#') Practice Areas
      li.nav-item
        a.nav-link(href='#') Our Team
      li.nav-item
        a.nav-link(href='#') Blog
      li.nav-item
        a.nav-link(href='#') Contact

//- .navbar
//-   #header-navbar.container-fluid
//-     .navbar-header
//-       button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
//-         span.icon-bar
//-         span.icon-bar
//-         span.icon-bar
//-     .collapse.navbar-collapse
//-       ul.navbar-nav
//-         li.active
//-           a(href='#', contenteditable='false') Home
//-         li
//-           a(href='#') About Us
//-         li
//-           a(href='#') Practice Areas
//-         li
//-           a(href='#') Our Attorneys
//-         li
//-           a(href='#') Blog
//-         li
//-           a(href='#') Contact
    //- .nav-collapse
//- .container
