include head 

body
  include header
  .container-fluid#hero-image
    #hero-text
      h1.h1-inverse Legal services with respect and results
      h2.h2-inverse Call us today for a free consultation: (+1) 800-555-5555
      button.btn.btn-outline-primary Contact Us
  .container-fluid.section#intro-section
    .row
      .col-12
        #intro-header.text-center
          h2.h2-inverse Kansas City Civil, Medical and Employment Law
    .row
      .col-md-6
        .intro-column
          p.p-inverse.intro-text Our firm is dedicated to serving the needs of Kansas City residents in need of legal services relating to personal injury and medical malpractice.  Our mission is to pursue justice for our clients while working with the highest standards of ethics and integrity.
          p.p-inverse.intro-text We can also help if you have suffered discriminiation in the workplace, due to age, sexual orientation, racial bias, religion or gender, and we specialize in seeking compensation for lost income or opportunities relating to unlawful employment practices relating to hiring, retention, and employee environment and culture.
      .col-md-6
        .cert-container.text-center
          img(src="img/cert-law-review.png")
          img(src="img/cert-midwest.png") 
    .row
      .col-12.text-center
        h3.h3-inverse Call us today for a consultation
        button.btn.btn-outline-primary Contact Us
  
  .container.section#services-section
    .row
      .col-md-4
        .services-column.text-center
          i.fa.fa-medkit(aria-hidden="true")
          h3 Personal Injury
          p.text-justify From slips, falls, dog bites and other injuries, we have obtained over $20 million in verdicts and settlements for our clients and families.
          a(href="#")
            button.btn.btn-secondary.btn-sm(type="button") Learn More
      .col-md-4
        .services-column.text-center
          i.fa.fa-heartbeat(aria-hidden="true")
          h3 Medical Malpractice
          p.text-justify If you have been harmed as the result of a medical mistake or negligence, we will fight for you to be appropriately compensated for loss of income and/or quality of life. 
          a(href="#")
            button.btn.btn-secondary.btn-sm(type="button") Learn More
      .col-md-4
        .services-column.text-center
          i.fa.fa-car(aria-hidden="true")
          h3 Auto Accidents
          p.text-justify Auto insurers may not cover all of your injuries or damages resulting from an accident.  Let us help you get the assistance you need to recover. 
          a(href="#")
            button.btn.btn-secondary.btn-sm(type="button") Learn More
    .row
      .col-md-4
        .services-column.text-center
          i.fa.fa-user-o(aria-hidden="true")
          h3 Wrongful Death
          p.text-justify The tragedy of a loved one's death from another's action (or inaction) can be compounded by loss of income by a provider or medical expenses.
          a(href="#")
            button.btn.btn-secondary.btn-sm(type="button") Learn More
      .col-md-4
        .services-column.text-center
          i.fa.fa-truck(aria-hidden="true")
          h3 Trucking Accidents
          p.text-justify Accidents relating to the transport industry are more common than you'd think.  It can be hard to face these challenges alone; let us represent you to get the justice you deserve.
          a(href="#")
            button.btn.btn-secondary.btn-sm(type="button") Learn More
      .col-md-4
        .services-column.text-center
          i.fa.fa-users(aria-hidden="true")
          h3 Job Discrimination
          p.text-justify If you have been discrominated against in your job due to your gender, race, sexual orientation, or religion and it has impacted your ability to earn a living, we will assertively pursue damages for you.
          a(href="#")
            button.btn.btn-secondary.btn-sm(type="button") Learn More
  
  .container-fluid.section#testimonials-section
    .row
      .col-12
        .testimonials-column.column.text-center
          i.i-inverse.fa.fa-quote-right(aria-hidden="true")
          p.p-inverse.testimonial-text#testimonial-text 
          i.i-inverse.fa.fa-quote-left(aria-hidden="true")
            
  .container.section#blog-section
    .row
      .col-12
        h3 Latest Posts
    .row
      .col-md-4
        .blog-column(style="background: url('img/blog-pic-1.jpeg')")
          .blog-title
            p Be prepared for your next surgical procedure
      .col-md-4
        .blog-column(style="background: url('img/blog-pic-2.jpeg')")
          .blog-title 
            p Dealing with the aftermath of a DUI
      .col-md-4
        .blog-column(style="background: url('img/blog-pic-3.jpeg')")
          .blog-title 
            p How the opiod crisis could affect you
  include footer
          
  
