@import "colors";
@import "fonts";

html {
  font-size: 16px;
}

p {
  color: $color-complement-4;
  font-family: $font-body-text;
}

h1, h3 {
  color: $color-complement-3;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: $font-heading;
  text-transform: uppercase;
}

h2, h4 {
  color: $color-complement-0;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: $font-heading;
}

ul {
  list-style: none;
  font-family: $font-heading;
  text-transform: uppercase;
}

button {

}

// Bootstrap Customizations

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

.navbar {
  background-color: $color-primary-0;
  border-radius: 0;
  min-height: 60px;
  font-family: $font-heading;
  
  .navbar-toggler {
    border-radius: 0;
    
    .navbar-toggler-icon {
      
    }
  }
  
  .navbar-nav {
    
    .nav-item {
      position: relative;
      
      &:before {
        display: block;
        position: absolute;
        left: 0;
        top: 2px;
        width: 0;
        height: 2px;
        background-color: $color-primary-1;
        content: "";
        transition: width 0.2s;
      }
      
      &:hover, &:focus {
        background-color: $color-primary-0; 
      }
      
      &:hover:before {
        width: 100%;
      }
      
      .nav-link {
        color: $color-complement-1;
      }
      
    }
    
    .active {
      background-color: $color-primary-0;
      
      .nav-link {
        color: $color-complement-2;
      }
    }
  }
}

.btn {
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
  text-transform: uppercase;
  font-family: $font-heading;
  padding: 10px 14px;
}

.btn-primary {
  background-color: $color-primary-0;
  color: $color-complement-1;
  border: none;
  border-radius: 0;
  font-size: 1.25rem;
}
  
.btn-primary:hover {
  background-color: $color-primary-1;
  color: $color-complement-3;
}

.btn-secondary {
  background-color: $color-primary-2;
  color: $color-complement-2;
  border: none;
  border-radius: 0;
}
  
.btn-secondary:hover {
  background-color: $color-primary-1;
}

.btn-outline-primary {
  border-color: $white;
  color: $white;
  background: none;
  border-radius: 0;
  font-size: 1.25rem;
  
  &:hover {
    background: $white;
    color: $color-primary-0;
  }
}

.btn-outline-secondary {
  border-color: $color-primary-3;
  color: $color-primary-3;
  background: none;
  border-radius: 0;
  font-size: 1rem;
  
  &:hover {
    background: $color-complement-0;
  }
}

.lead {
  font-size: 1.25rem;
}

// Font Awesome
.fa {
  color: $color-complement-2;
  font-size: 2.5rem;
}

// Custom Classes
.p-inverse {
  color: $color-complement-1;
}

.p-small {
  font-size: 0.9rem;
}

.h1-inverse, .h3-inverse {
  color: $color-complement-2;
  text-transform: uppercase;
}

.h2-inverse, .h4-inverse {
  color: $color-complement-1;
  text-transform: uppercase;
}

.i-inverse {
  color: $color-complement-2;
}

.column {
  
}

.section {
  padding: 2.5rem 0;
}


// Layout Specifications
#header-top {
  background-color: $color-complement-2;
  height: auto;
  padding-top: 10px;
}

#header-top h4 {
  color: $color-complement-4;
}

#header-top i {
  font-size: 20px;
  line-height: 30px;
  vertical-align: middle;
  padding-right: 20px;
  color: #10192F;
  border-radius: 0;
}

#heading-cta {
  text-transform: uppercase; 
}
  
#header-middle {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: $color-complement-4;
  
  #logo {
    background-color: $color-complement-0;
    padding-top: 0;
  }
  
  .header-contact-info {
    padding-top: 1.875rem;
    
    p {
      color: $color-complement-2;
      font-size: 1.2rem;
    }
  }
  
  .header-social {
    width: 100%;
    
    i {
      padding: 2.5rem 10px;
      
      &:hover, &focus {
        color: $color-primary-1;
      }
    }
  }
}

#header-navbar {
  background-color: $color-primary-0;
}

#hero-image {
  background-image: linear-gradient(
      rgba(6, 27, 74, 0.6), 
      rgba(6, 27, 74, 0.6)
    ), url("../img/courthouse-outside.jpeg");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
  #hero-text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: $color-complement-1;
  }
}

#intro-section {
  background-color: $color-primary-0;
  
  #intro-header {
    position: relative;
    width: 60%;
    margin: 0 auto;
    
    &:after {
      display: block;
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 0;
      height: 2px;
      background-color: $color-complement-2;
      content: "";
      transition: width 0.2s;
    }
    
    &:hover:after {
      width: 100%;
    }
    
  }
  
  .intro-column {
    width: 90%;
    margin: 3rem auto;
  }
  
  .intro-text {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  
  .cert-container {
    padding-top: 3.5rem;
    
    img {
      padding: 0 10px;
    }
  }
  
  
}

#services-section {
  
  .services-column {
    width: 80%;
    margin: 0 auto; 
    padding: 2.5rem 5px;
    
    p {
      height: 170px;
      font-size: 1.2rem;
    }
  }
}

#testimonials-section {
  background-color: $color-primary-0;
  
  .testimonials-column {
    width: 60%;
    margin: 0 auto;
    
    .testimonial-text {
      font-size: 2.0rem;
      padding: 1.875rem 5px;
      height: 300px;
    }
  }
}

#quick-links {
  a {
    color: $color-complement-1;
    text-decoration: none;
    
    &:hover {
      color: $color-complement-0;
    }
  }
}

#blog-section {
  
  .blog-column {
    width: 300px;
    height: 250px;
    margin: 20px auto;
    position: relative;
    background-size: cover;
    background-position: center;
    
    
    .blog-title {
      background: -moz-linear-gradient(right, $color-complement-1, $color-complement-1); /* For Firefox 3.6 to 15 */
      background: linear-gradient(to right, $color-complement-1, $color-complement-1); /* Standard syntax */
      height: 33%;
      width: 100%;
      opacity: 0.8;
      position: absolute;
      bottom: 0px;
      padding: 2px 6px;
      -webkit-transition: height 0.5s; /* Safari */
      transition: height 0.5s;
      
      &:hover {
        height: 36%;
      }
      
      p {
        font-family: $font-heading;
        font-size: 1.2rem;
        // text-transform: uppercase;
        text-align: right;
      }
    }
  }
  
}

#footer-lead {
  background: $color-complement-2;
  
  h3 {
    margin-top: 12px;
    margin-bottom: 0;
  }
  
  #footer-cta {
    // font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

#footer-base {
  background-color:  $color-primary-4;
  padding: 1.875rem 200px;
  font-size: 1.2rem;
  
  img {
    margin-top: 30px;
    background-color: $color-complement-0;
  }
  
  #quick-links {
    ul {
      padding-left: 0;
    }
  }
}

@media (max-width: 1250px) {
  
  #services-section {
    
    .services-column {
      
      h3 {
        font-size: 1.25rem;
      }
      
      p {
        font-size: 1rem;
      }
    }
    
  }

}

@media (max-width: 1000px) {
  
  #services-section {
    
    .services-column {
      
      p {
        height: 190px;
      }
    }
    
  }

}

@media (max-width: 1000px) {
  
  #services-section {
    .services-column {
      p {
        height: 90px;
      }
    }
  }
  
  #testimonials-section {
    .testimonials-column {
      
      i {
        font-size: 2rem;
      }
      
      .testimonial-text {
        font-size: 1.2rem;
        height: 250px;
      }
    }
  }

}

@media (max-width: 550px) {
  
  h1 {
    font-size: 2rem;
  }
  
  h2 {
    font-size: 1.2rem;
  }
}
